.bar-menu {
  background: var(--glsp-bar-menu-bg);
  width: 372px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: var(--glsp-box-shadow);
}
.bar-menu.border-radius {
  border-radius: 4px;
}
.bar-menu-search {
  height: 32px;
  background: var(--glsp-bar-menu-header-bg);
  display: flex;
  align-items: center;
}
.bar-menu.border-radius .bar-menu-search {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.bar-menu-search i {
  margin: 0 0.5rem 0 0.8rem;
}
.bar-menu-search .menu-search-input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  color: var(--glsp-bar-menu-item);
}
.bar-menu-text,
.bar-menu-items {
  color: var(--glsp-bar-menu-item);
  padding: 0.5rem;
  max-height: 200px;
  overflow: auto;
}
.bar-menu-items {
  display: flex;
  flex-wrap: wrap;
}
.tool-bar-menu .bar-menu-items {
  max-height: 75vh;
}
.bar-menu-items .menu-group {
  width: 100%;
  margin-bottom: 12px;
}
.bar-menu-text .simple-menu-header,
.bar-menu-text .menu-marker,
.bar-menu-text .simple-menu-text:not(.simple-menu-small) {
  border-bottom: 1px solid var(--glsp-border);
}
.bar-menu-text .simple-menu-header,
.bar-menu-text .simple-menu-text,
.bar-menu-items .menu-group-header {
  padding: 6px;
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  user-select: text;
}
.bar-menu-items .menu-group-header {
  display: flex;
}
.bar-menu-text .simple-menu-text {
  font-weight: 400;
}
.bar-menu-text .simple-menu-small {
  font-weight: 400;
  font-size: 10px;
}
.bar-menu-text .menu-issue {
  padding: 6px;
  font-size: 12px;
}
.bar-menu-text .menu-issue-title {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-weight: 700;
}
.bar-menu-text .menu-issue-title i {
  font-size: 14px;
}
.bar-menu-text .menu-issue-title .ivy-error-x-mark {
  color: var(--glsp-error-foreground);
}
.bar-menu-text .menu-issue-title .ivy-caution {
  color: var(--glsp-warning-foreground);
}
.bar-menu-text .menu-issue-message {
  margin: 0.5rem 0 1rem 0;
}
.bar-menu-items .menu-group-items {
  display: flex;
  flex-wrap: wrap;
}
.bar-menu-items .menu-group-items .menu-item {
  flex-grow: 0;
}
.bar-menu-items .menu-item {
  height: 2rem;
  width: 100px;
  max-width: 106px;
  flex-grow: 1;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  display: flex;
  align-items: center;
  padding-right: 0.8rem;
  cursor: pointer;
  word-break: break-word;
  overflow: hidden;
}
.bar-menu-items .menu-item.focus {
  background: var(--glsp-bar-menu-item-hover);
  border-radius: 2px;
}
.bar-menu-items .menu-item i {
  width: 2rem;
  font-size: 14px;
  line-height: 2rem;
  flex: none;
}
.bar-menu-items .menu-item .ivy {
  text-align: center;
  font-size: 24px;
}
.bar-menu-items .menu-item svg {
  margin: 0.8em;
  width: 14px;
  height: 14px;
  fill: none;
  stroke: var(--glsp-bar-menu-item);
  flex: none;
}
.bar-menu.colors-menu .menu-item span {
  height: 1rem;
  min-width: 1rem;
  margin: 0.5rem;
  border-radius: 1rem;
}
.bar-menu.colors-menu .menu-item .empty-icon {
  border: 1px solid var(--glsp-foreground);
  background-color: var(--glsp-foreground);
}
.bar-menu.colors-menu .menu-item .new-color-icon {
  border: 1px dashed var(--glsp-foreground);
  font-size: 8px;
  line-height: 16px;
}
.bar-menu .color-edit-button {
  cursor: pointer;
  height: 16px;
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
.bar-menu .menu-item .color-edit-button {
  justify-content: end;
  font-size: 14px;
}
.bar-menu .color-edit-button:hover {
  background: var(--glsp-bar-menu-item-hover);
  border-radius: 2px;
}
.bar-menu .no-result {
  font-weight: 400;
  font-size: 10px;
}

.tool-bar-options-menu {
  position: absolute;
  top: 3.5rem;
  right: 0.5rem;
  width: 134px;
  background: var(--glsp-bar-menu-bg);
  filter: drop-shadow(0px 9px 27px rgba(0, 0, 0, 0.07)) drop-shadow(0px 3.75998px 11.28px rgba(0, 0, 0, 0.0503198))
    drop-shadow(0px 2.01027px 6.0308px rgba(0, 0, 0, 0.0417275)) drop-shadow(0px 1.12694px 3.38082px rgba(0, 0, 0, 0.035))
    drop-shadow(0px 0.598509px 1.79553px rgba(0, 0, 0, 0.0282725)) drop-shadow(0px 0.249053px 0.747159px rgba(0, 0, 0, 0.0196802));
  border-radius: 4px;
  --menu-arrow-pos: 10px;
}
.bar-menu.tool-bar-menu {
  position: absolute;
  top: 3.5rem;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}
.bar-menu.tool-bar-menu .bar-menu-search {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.bar-menu.tool-bar-menu:before,
.tool-bar-options-menu:before {
  content: '';
  position: absolute;
  right: var(--menu-arrow-pos);
  top: -8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 10px 6px;
  border-color: transparent transparent var(--glsp-bar-menu-triangle) transparent;
}
.bar-menu.tool-bar-menu:has(> .bar-menu-search)::before,
.tool-bar-options-menu::before {
  border-color: transparent transparent var(--glsp-bar-menu-header-bg) transparent;
}
.tool-bar-options-menu .tool-bar-options-header {
  background: var(--glsp-bar-menu-header-bg);
  height: 2rem;
  display: flex;
  align-items: center;
}
.tool-bar-options-menu .tool-bar-options-header i {
  margin: 1rem;
  margin-left: 1rem;
  margin-right: 0.5rem;
}
.tool-bar-options-menu .tool-bar-options-header label {
  font-weight: 600;
  font-size: 12px;
}
.tool-bar-options-menu .tool-bar-options {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.tool-bar-options-menu .tool-bar-option {
  display: flex;
  align-items: center;
}
.tool-bar-options-menu .tool-bar-option i {
  margin-right: 6px;
}
.tool-bar-options-menu .tool-bar-option label {
  font-size: 10px;
  cursor: pointer;
}
.tool-bar-options-menu .tool-bar-option .switch {
  margin-left: auto;
}

/* Color Dialog */
.edit-color {
  display: none;
  padding: 0.5rem;
}
.edit-color .edit-color-body {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
}
.edit-color .edit-color-input {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.edit-color .edit-color-input label {
  font-size: 10px;
  color: var(--glsp-bar-menu-label);
}
.edit-color .edit-color-input input {
  height: 28px;
  border: none;
  background-color: var(--glsp-editor-background);
  color: var(--glsp-editor-foreground);
  border-radius: 4px;
  width: calc(100% - 1rem);
  padding-inline: 0.5rem;
}
.edit-color .edit-color-input input:focus {
  outline: 1px solid var(--glsp-editor-selected);
}
.edit-color .edit-color-input input.error {
  outline: 1px solid var(--glsp-error-foreground);
}
.edit-color .color-picker {
  position: relative;
}
.edit-color .color-picker .decorator {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  background-color: var(--glsp-foreground);
  position: absolute;
  top: 6px;
  left: 8px;
  cursor: pointer;
}
.edit-color .edit-color-input input[type='color'] {
  position: absolute;
  visibility: hidden;
  height: 28px;
}
.edit-color .color-picker input {
  padding-left: 2rem;
  width: calc(100% - 2.5rem);
}
.edit-color .edit-color-footer {
  display: flex;
  gap: 0.5rem;
  justify-content: end;
  padding: 0.5rem;
}
.edit-color .edit-color-footer button {
  height: 28px;
  width: 60px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.edit-color .edit-color-footer .edit-color-save {
  background-color: var(--glsp-editor-selected);
  color: white;
  border: none;
}
.edit-color .edit-color-footer .edit-color-delete {
  background-color: transparent;
  color: var(--glsp-bar-menu-item);
  border: 1px solid var(--glsp-bar-menu-item);
}
