.ivy-tool-bar {
  inset: 0;
  width: 100%;
  height: 48px;
  background: var(--glsp-tool-bar-bg);
  border-bottom: var(--basic-border, 1px solid var(--glsp-border));
  z-index: 10;
  container: toolbar / inline-size;
  position: relative;
}
.tool-bar-header {
  margin-inline: var(--size-3, 0.75rem);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tool-bar-header .left-buttons,
.tool-bar-header .middle-buttons,
.tool-bar-header .right-buttons {
  display: inline-flex;
  flex-grow: 1;
  gap: var(--size-1, 0.25rem);
}
.tool-bar-header .middle-buttons {
  justify-content: center;
  z-index: 10;
}
.tool-bar-header .middle-buttons .tool-bar-title-button {
  min-width: 60px;
}
.tool-bar-header .right-buttons {
  justify-content: end;
}
.tool-bar-header .edit-buttons {
  display: inline-flex;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  border-left: 1px solid var(--glsp-tool-border);
  gap: var(--size-1, 0.25rem);
}
.tool-bar-header .tool-bar-button {
  height: 30px;
  flex: 0 0 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-r2, 5px);
  border: none;
  background: transparent;
}
.tool-bar-header .tool-bar-title-button {
  height: 2.25rem;
  width: 3.5rem;
  min-width: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tool-bar-header .tool-bar-title-button > label {
  font-size: 10px;
  margin-bottom: 0.125rem;
  color: var(--N900, var(--glsp-tool-border));
}
.tool-bar-header .tool-bar-title-button .tool-bar-button {
  display: inline-flex;
  justify-content: center;
  padding: var(--size-1, 0.25rem) var(--size-2, 0.5rem);
  max-height: 24px;
}
.tool-bar-header .tool-bar-button i {
  color: var(--body, --var(--glsp-tool-button));
  text-align: center;
  font-size: 16px;
}
.tool-bar-header .tool-bar-title-button .tool-bar-button i.ivy-chevron {
  transform: rotate(90deg);
}
.tool-bar-header .tool-bar-button.clicked,
.tool-bar-header .tool-bar-button:hover {
  background: var(--glsp-tool-bar-button-active-bg);
}

@container toolbar (max-width: 650px) {
  .tool-bar-header .middle-buttons .tool-bar-title-button:not(:first-child) {
    display: none;
  }
}

@container toolbar (max-width: 450px) {
  .tool-bar-header .edit-buttons {
    display: none;
  }
}
