.ivy-tool-bar {
  inset: 0;
  width: 100%;
  height: 48px;
  background: var(--glsp-tool-bar-bg);
  box-shadow: var(--glsp-box-shadow);
  z-index: 10;
  container: toolbar / inline-size;
}
.tool-bar-header {
  margin: 6px;
  display: flex;
  justify-content: space-between;
}
.tool-bar-header .left-buttons,
.tool-bar-header .middle-buttons,
.tool-bar-header .right-buttons {
  display: inline-flex;
  flex-grow: 1;
}
.tool-bar-header .middle-buttons {
  justify-content: center;
  z-index: 10;
}
.tool-bar-header .middle-buttons .tool-bar-title-button {
  min-width: 60px;
}
.tool-bar-header .right-buttons {
  justify-content: end;
}
.tool-bar-header .edit-buttons {
  display: inline-flex;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  border-left: 1px solid var(--glsp-tool-border);
}
.tool-bar-header .tool-bar-button {
  height: 2.25rem;
  width: 2.25rem;
  cursor: pointer;
}
.tool-bar-header .tool-bar-title-button {
  height: 2.25rem;
  width: 3.5rem;
  min-width: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tool-bar-header .tool-bar-title-button > label {
  font-size: 10px;
  margin-bottom: 0.125rem;
  color: var(--glsp-tool-border);
}
.tool-bar-header .tool-bar-title-button .tool-bar-button {
  height: 1.5rem;
  width: 100%;
  display: inline-flex;
  justify-content: center;
}
.tool-bar-header .tool-bar-button i {
  margin-right: 0.2em;
  width: 2.25rem;
  line-height: 2.25rem;
  color: var(--glsp-tool-button);
  text-align: center;
  font-size: 18px;
}
.tool-bar-header .tool-bar-title-button .tool-bar-button i {
  width: 1rem;
  line-height: 1.5rem;
}
.tool-bar-header .tool-bar-title-button .tool-bar-button i.ivy-chevron {
  transform: rotate(90deg);
}
.tool-bar-header .tool-bar-button.clicked,
.tool-bar-header .tool-bar-button:hover {
  background: var(--glsp-tool-bar-button-active-bg);
  border-radius: 2px;
}

@container toolbar (max-width: 650px) {
  .tool-bar-header .middle-buttons .tool-bar-title-button:not(:first-child) {
    display: none;
  }
}

@container toolbar (max-width: 450px) {
  .tool-bar-header .edit-buttons {
    display: none;
  }
}
