.ivy-tool-bar {
  inset: 0;
  width: 100%;
  height: 48px;
  background: var(--glsp-tool-bar-bg);
  border-bottom: var(--basic-border, 1px solid var(--glsp-border));
  z-index: 10;
  container: toolbar / inline-size;
}
