html body {
  --glsp-editor-background: white;
  --glsp-editor-foreground: black;
  --glsp-editor-mouseover: #616161;
  --glsp-editor-selected: #007095;
  --glsp-foreground: #616161;

  --glsp-tool-palette-background: #eee;
  --glsp-tool-palette-forground: var(--glsp-foreground);
  --glsp-tool-palette-selection: #bddaef;
  --glsp-tool-palette-hover: #dfdfdf;
  --glsp-tool-palette-border: #cecece;
  --glsp-tool-palette-group-background: #c4c4c4;

  --glsp-quick-action-handle-background: var(--glsp-tool-palette-background);
  --glsp-quick-action-handle-hover: var(--glsp-tool-palette-hover);
}

html[data-theme="dark"] body {
  --glsp-editor-background: #1e1e1e;
  --glsp-editor-foreground: #d4d4d4;
  --glsp-editor-mouseover: #cccccc;
  --glsp-editor-selected: #264f78;
  --glsp-foreground: #cccccc;

  --glsp-tool-palette-background: #333;
  --glsp-tool-palette-forground: var(--glsp-foreground);
  --glsp-tool-palette-selection: #264f78;
  --glsp-tool-palette-hover: rgba(173, 214, 255, 0.15);
  --glsp-tool-palette-border: #3c3c3c;
  --glsp-tool-palette-group-background: #4d4d4d;
}

body {
  color: var(--glsp-foreground);
}
