.label-edit input,
.label-edit textarea {
  background: var(--glsp-inline-label-background);
  color: var(--glsp-foreground);
  border-radius: 4px;
  width: 99%;
  height: 99%;
  box-shadow: var(--glsp-box-shadow);
  z-index: 100;
}

.label-edit input:focus,
.label-edit textarea:focus {
  outline: none;
  outline-offset: 0px;
}
