.toggle-switch {
  display: flex;
  align-items: center;
  gap: 5px;
}
.toggle-switch label {
  font-size: 11px;
  cursor: pointer;
}
.toggle-switch .switch {
  margin-left: auto;
}

.switch {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 14px;
  flex-shrink: 0;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--glsp-bar-menu-switch-bg);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 8px;
  width: 8px;
  left: 3px;
  bottom: 3px;
  background-color: var(--glsp-bar-menu-switch);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input:checked + .slider:before {
  background-color: var(--glsp-bar-menu-switch-checked);
}

input:focus + .slider:before {
  box-shadow: 0 0 1px var(--glsp-bar-menu-switch-checked);
}

input:checked + .slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 8px;
}

.slider.round:before {
  border-radius: 50%;
}
