:root {
  --glsp-editor-background: white;
  --glsp-editor-foreground: black;
  --glsp-editor-mouseover: #616161;
  --glsp-editor-selected: #007095;
  --glsp-foreground: #616161;
}

/* Graph */
.sprotty-graph {
  background: var(--glsp-editor-background);
  font-size: 10pt;
  border: none;
  height: 100%;
}

/* Pool / Lane */
.pool .sprotty-label,
.lane .sprotty-label {
  text-anchor: middle;
  cursor: default;
}
.pool .sprotty-node,
.lane .sprotty-node {
  cursor: default;
}

/* Nodes */
.sprotty-node {
  fill: var(--glsp-editor-background);
  stroke: var(--glsp-editor-foreground);
  stroke-width: 1px;
  font-weight: bold;
  cursor: pointer;
}
.sprotty-node.mouseover {
  stroke-width: 3px;
  stroke: var(--glsp-editor-mouseover);
}
.sprotty-node.selected {
  stroke-width: 3px;
  stroke: var(--glsp-editor-selected);
}
.sprotty-node.sprotty-task-node {
  stroke-width: 1px;
}
.end .sprotty-node {
  stroke-width: 3px;
}
.sprotty-node-decorator {
  stroke: var(--glsp-editor-foreground);
  fill: var(--glsp-editor-foreground);
  text-anchor: middle;
}
.subproc .sprotty-node {
  stroke-width: 2px;
}

/* Edges */
.sprotty-edge {
  stroke: var(--glsp-editor-foreground);
  fill: none;
  cursor: pointer;
}
.sprotty-edge.arrow {
  fill: var(--glsp-editor-foreground);
}
.sprotty-edge > .sprotty-routing-handle {
  r: 5px;
  fill: var(--glsp-foreground);
  stroke: none;
  z-index: 1000;
}
.sprotty-edge > .sprotty-routing-handle[data-kind="line"] {
  opacity: 0.35;
}
.sprotty-edge > .sprotty-routing-handle.selected {
  fill: var(--glsp-editor-selected);
}
.sprotty-edge > .sprotty-routing-handle.mouseover {
  stroke: var(--glsp-editor-selected);
  stroke-width: 1;
}
.sprotty-edge.mouseover:not(.selected) {
  stroke-width: 3px;
}

/* Icon / Label*/
.sprotty-label {
  font-size: 12px;
  cursor: pointer;
}
.sprotty-icon {
  background-color: var(--glsp-editor-background);
  border-radius: 3px;
  cursor: pointer;
}
.sprotty-icon i {
  font-size: 16px;
}

/* Tooltip */
.sprotty-popup {
  background: var(--glsp-editor-background);
  color: var(--glsp-editor-foreground);
  border-radius: 5px;
  border: 1px solid var(--glsp-editor-foreground);
  font-size: 13px;
}
.sprotty-popup-title {
  font-weight: 700;
}

/* Comments */
.comment .sprotty-node,
.association.sprotty-edge {
  stroke-dasharray: 5, 5;
}

/* General */
.sprotty-missing {
  stroke-width: 1;
  stroke: #f00;
  fill: #f00;
  font-size: 14pt;
  text-anchor: middle;
}
