.browser-dialog {
  --browser-padding: 20px;
  z-index: 100;
}
.browser-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--size-2);
}
.browser-content-exit {
  animation: contentExit 200ms cubic-bezier(0.73, 0, 0.67, 0);
  animation-fill-mode: forwards;
}

.browser-content .tabs-content {
  gap: var(--size-1);
}
.browser-content .table-root {
  overflow: hidden;
}
.browser-content .table-root .table-container {
  max-height: calc(100vh - 300px);
  overflow: auto;
}
.browser-content .table-root .table-container .table {
  overflow: auto;
  max-height: 100%;
}
.browser-content .browser-helptext {
  font-size: 12px;
  background-color: var(--background);
  border: var(--basic-border);
  padding: var(--input-padding);
  overflow: auto;
  max-height: 80px;
  display: flex;
  flex-direction: column;
  gap: var(--size-1);
  border-radius: var(--border-r2);
  margin: 0;
}

.browser-title {
  margin: 0;
  font-weight: 500;
  color: var(--body);
  font-size: 16px;
  display: flex;
  gap: var(--size-4);
  align-items: center;
}

.browser-title .tabs-list {
  padding-bottom: var(--browser-padding);
}

.browser-title .tabs-list .tabs-trigger {
  font-size: 14px;
}

.browser-table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.browser-table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loader-message {
  text-align: center;
  font-size: 14px;
}

.loader-message p {
  display: inline-block;
  opacity: 0;
  animation: load-fade 1.5s infinite;
}

@keyframes load-fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 1;
    right: -100%;
  }
  to {
    opacity: 1;
    right: 0;
  }
}

@keyframes contentExit {
  from {
    opacity: 1;
    right: 0;
  }
  to {
    opacity: 1;
    right: -100%;
  }
}

@media (prefers-reduced-motion) {
  .browser-dialog,
  .browser-content-exit {
    animation: none !important;
  }
}
