.quick-actions-container {
  width: 0;
  height: 0;
}
.quick-actions-container .bar-menu {
  position: relative;
  z-index: 10;
}
.quick-actions-bar {
  position: relative;
  max-height: 44px;
  background: var(--glsp-tool-bg);
  box-shadow: var(--glsp-box-shadow);
  border-radius: var(--border-r2, 5px);
  padding: var(--size-1, 0.25rem);
  display: inline-flex;
  gap: 1rem;
  z-index: 10;
}
.quick-actions-bar.no-bottom-border-radius {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.quick-actions-group {
  display: inline-flex;
  gap: var(--size-1, 0.25rem);
}
.quick-actions-group button {
  height: 30px;
  width: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
}
.quick-actions-group button:hover,
.quick-actions-group button.active {
  background: var(--glsp-tool-button-active-bg);
  border-radius: var(--border-r2, 5px);
}
.quick-actions-group button i {
  color: var(--body, var(--glsp-tool-button));
  text-align: center;
  font-size: 16px;
}
.multi-selection-box {
  position: absolute;
  left: -5px;
  top: -5px;
  border: 1px dashed var(--glsp-multiselect-box-border);
  background: none;
  pointer-events: none;
}
