.error-fallback {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}
.error-fallback :where(h3, h5) {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin-block: var(--size-1);
}
