html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  display: grid;
  grid-template-areas: 'sprotty inscription';
  grid-auto-columns: minmax(250px, 100%) min-content;
}
#sprotty {
  grid-area: sprotty;
  height: 100vh;
}
#inscription {
  grid-area: inscription;
  background-color: var(--glsp-editor-background);
  height: 100vh;
}
#inscription.hidden {
  display: none;
}

.main-widget {
  position: relative;
}

.sprotty svg {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
