html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#process-editor {
  display: grid;
  grid-template-columns: 1fr auto; /* Adjust the auto value based on sidebar width */
  grid-template-rows: auto 1fr; /* Adjust based on toolbar height */
  height: 100vh; /* Full viewport height */
}

#sprotty {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  position: relative; /* to ensure that absolute positioning of elements within the diagram work relative to the diagram. */
}

#ivy-tool-bar {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#inscription-ui {
  grid-column: 2 / 3;
  grid-row: 1 / 3; /* Spanning across both the rows */
}

.sprotty svg {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
