.ivy-breakpoint-handle {
  fill: var(--glsp-breakpoint);
  cursor: pointer;
}
.ivy-breakpoint-handle-globaldisable {
  stroke: var(--glsp-editor-foreground);
  stroke-width: 1;
  cursor: pointer;
}
.ivy-breakpoint-handle.condition {
  fill: var(--glsp-breakpoint-condition);
}
.ivy-breakpoint-handle.disabled {
  fill: transparent;
  stroke: var(--glsp-breakpoint);
}
.ivy-breakpoint-handle.mouseover {
  opacity: 0.5;
}
