:root {
  --glsp-editor-background: #fafafa;
  --glsp-editor-foreground: #202020;
  --glsp-editor-selected: #0065ff;
  --glsp-foreground: #616161;
  --glsp-grid: #c9c9c9;
  --glsp-node: #ffffff;
  --glsp-border: #7a7a7a;
  --glsp-lane-bg: rgba(255, 255, 255, 0.3);
  --glsp-pool-bg: #f5f5f5;
  --glsp-box-shadow: 0px 9px 27px rgba(0, 0, 0, 0.07), 0px 3.75998px 11.28px rgba(0, 0, 0, 0.0503198),
    0px 2.01027px 6.0308px rgba(0, 0, 0, 0.0417275), 0px 1.12694px 3.38082px rgba(0, 0, 0, 0.035),
    0px 0.598509px 1.79553px rgba(0, 0, 0, 0.0282725), 0px 0.249053px 0.747159px rgba(0, 0, 0, 0.0196802);

  --glsp-tool-bg: #202020;
  --glsp-tool-bar-bg: #2c2c2c;
  --glsp-tool-button: #e5e5e5;
  --glsp-tool-button-active-bg: #2c2c2c;
  --glsp-tool-bar-button-active-bg: #202020;
  --glsp-tool-border: #7a7a7a;
  --glsp-tool-text: #bababa;

  --glsp-bar-menu-bg: #ffffff;
  --glsp-bar-menu-header-bg: #f5f5f5;
  --glsp-bar-menu-item: #565656;
  --glsp-bar-menu-item-hover: #f5f5f5;
  --glsp-bar-menu-switch: #7c7c7c;
  --glsp-bar-menu-switch-checked: #1dca5a;
  --glsp-bar-menu-switch-bg: #f5f5f5;
  --glsp-bar-menu-label: #7a7a7a;

  --glsp-multiselect-box-border: var(--glsp-editor-selected);

  --glsp-issue-background: var(--glsp-editor-background);
  --glsp-error-foreground: #ff796f;
  --glsp-warning-foreground: #ff9f46;
  --glsp-info-foreground: #75beff;

  --glsp-breakpoint: #ff796f;
  --glsp-breakpoint-condition: #48c46b;

  --glsp-execution: #48c46b;
  --glsp-execution-failed: #ff796f;
  --glsp-execution-stopped: #cca700;

  --glsp-inline-label-background: rgba(245, 245, 245, 0.9);
}

html[data-theme='dark'] body {
  --glsp-editor-background: #3c3b3a;
  --glsp-editor-foreground: #d4d4d4;
  --glsp-foreground: #cccccc;
  --glsp-grid: #5a5a5a;
  --glsp-node: #202020;
  --glsp-lane-bg: rgba(44, 44, 44, 0.5);
  --glsp-pool-bg: #202020;

  --glsp-bar-menu-bg: #2c2c2c;
  --glsp-bar-menu-header-bg: #202020;
  --glsp-bar-menu-item: #bababa;
  --glsp-bar-menu-item-hover: #202020;
  --glsp-bar-menu-switch: #2c2c2c;
  --glsp-bar-menu-switch-bg: #202020;

  --glsp-issue-background: var(--glsp-editor-background);

  --glsp-breakpoint: #f48771;
  --glsp-breakpoint-condition: #cca700;
  --glsp-breakpoint-hover: rgba(244, 135, 113, 0.5);

  --glsp-inline-label-background: rgba(32, 32, 32, 0.9);
}
