:root {
  --glsp-editor-background: white;
  --glsp-editor-foreground: black;
  --glsp-editor-mouseover: #616161;
  --glsp-editor-selected: #007095;
  --glsp-foreground: #616161;
  --glsp-grid: #c9c9c9;

  --glsp-tool-bg: #202020;
  --glsp-tool-bar-bg: #2c2c2c;
  --glsp-tool-button: #e5e5e5;
  --glsp-tool-button-active-bg: #2c2c2c;
  --glsp-tool-bar-button-active-bg: #202020;
  --glsp-tool-border: #7a7a7a;
  --glsp-tool-text: #bababa;

  --glsp-bar-menu-bg: #ffffff;
  --glsp-bar-menu-header-bg: #f5f5f5;
  --glsp-bar-menu-item: #565656;
  --glsp-bar-menu-item-hover: #f5f5f5;
  --glsp-bar-menu-switch: #7c7c7c;
  --glsp-bar-menu-switch-checked: #1dca5a;
  --glsp-bar-menu-switch-bg: #f5f5f5;

  --glsp-multiselect-box-border: var(--glsp-editor-selected);

  --glsp-issue-background: var(--glsp-editor-background);
  --glsp-error-foreground: #e51400;
  --glsp-warning-foreground: #bf8803;
  --glsp-info-foreground: #75beff;

  --glsp-breakpoint: #e51400;
  --glsp-breakpoint-condition: #bf8803;
  --glsp-breakpoint-hover: rgba(229, 20, 0, 0.5);

  --glsp-inline-label-background: rgba(0, 0, 0, 0.18);
}

html[data-theme='dark'] body {
  --glsp-editor-background: #1e1e1e;
  --glsp-editor-foreground: #d4d4d4;
  --glsp-editor-mouseover: #cccccc;
  --glsp-editor-selected: #264f78;
  --glsp-foreground: #cccccc;
  --glsp-grid: #5a5a5a;

  --glsp-bar-menu-bg: #2c2c2c;
  --glsp-bar-menu-header-bg: #202020;
  --glsp-bar-menu-item: #bababa;
  --glsp-bar-menu-item-hover: #202020;
  --glsp-bar-menu-switch: #2c2c2c;
  --glsp-bar-menu-switch-bg: #202020;

  --glsp-error-foreground: #f48771;
  --glsp-warning-foreground: #cca700;
  --glsp-info-foreground: #75beff;

  --glsp-breakpoint: #f48771;
  --glsp-breakpoint-condition: #cca700;
  --glsp-breakpoint-hover: rgba(244, 135, 113, 0.5);

  --glsp-inline-label-background: rgba(255, 255, 255, 0.18);
}
