:root {
  --glsp-editor-background: white;
  --glsp-editor-foreground: black;
  --glsp-editor-mouseover: #616161;
  --glsp-editor-selected: #007095;
  --glsp-foreground: #616161;

  --glsp-tool-bar-background: #eee;
  --glsp-tool-bar-forground: var(--glsp-foreground);
  --glsp-tool-bar-selection: #bddaef;
  --glsp-tool-bar-hover: #dfdfdf;
  --glsp-tool-bar-border: #cecece;
  --glsp-tool-bar-group-background: #c4c4c4;

  --glsp-multiselect-box-border: var(--glsp-editor-selected);
  --glsp-quick-action-background: var(--glsp-tool-bar-background);
  --glsp-quick-action-hover: var(--glsp-tool-bar-hover);

  --glsp-issue-background: var(--glsp-editor-background);
  --glsp-error-foreground: #e51400;
  --glsp-warning-foreground: #bf8803;
  --glsp-info-foreground: #75beff;

  --glsp-breakpoint: #e51400;
  --glsp-breakpoint-condition: #bf8803;
  --glsp-breakpoint-hover: rgba(229, 20, 0, 0.5);
}

@media (prefers-color-scheme: dark) {
  :root {
    --glsp-editor-background: #1e1e1e;
    --glsp-editor-foreground: #d4d4d4;
    --glsp-editor-mouseover: #cccccc;
    --glsp-editor-selected: #264f78;
    --glsp-foreground: #cccccc;

    --glsp-tool-bar-background: #333;
    --glsp-tool-bar-selection: #264f78;
    --glsp-tool-bar-hover: rgba(173, 214, 255, 0.15);
    --glsp-tool-bar-border: #3c3c3c;
    --glsp-tool-bar-group-background: #4d4d4d;

    --glsp-error-foreground: #f48771;
    --glsp-warning-foreground: #cca700;
    --glsp-info-foreground: #75beff;

    --glsp-breakpoint: #f48771;
    --glsp-breakpoint-condition: #cca700;
    --glsp-breakpoint-hover: rgba(244, 135, 113, 0.5);
  }
}
