html,
body {
  overflow: hidden;
  color: var(--glsp-foreground);
}

/* Graph */
.sprotty-graph {
  background: var(--glsp-editor-background);
  font-size: 10pt;
  border: none;
  height: 100%;
  /* Grid? */
  /* background-size: 10px 10px;
  background-image: linear-gradient(to right, #e4e4e4 1px, transparent 1px), linear-gradient(to bottom, #e4e4e4 1px, transparent 1px); */
}

/* Pool / Lane */
.pool .sprotty-label,
.lane .sprotty-label {
  text-anchor: middle;
  cursor: default;
  fill: var(--glsp-editor-foreground);
}
.pool > .sprotty-node,
.lane > .sprotty-node {
  cursor: default;
  fill: transparent;
  stroke: gray;
}
.lane-resize-handle {
  cursor: row-resize;
}
.lane-resize-handle line {
  stroke: #66a;
  stroke-width: 2px;
}
.lane-resize-handle.mouseover line {
  stroke-width: 3px;
}
.lane-resize-handle .lane-resize-mouse-handle {
  fill: transparent;
}

/* Nodes */
.sprotty-node {
  fill: var(--glsp-editor-background);
  stroke: var(--glsp-editor-foreground);
  stroke-width: 1px;
  font-weight: bold;
  cursor: pointer;
}
.executed .sprotty-node {
  fill: hsl(60 100% 50% / 50%);
}
.failed .sprotty-node {
  fill: hsl(0 100% 50% / 50%);
}
.executed.animate .sprotty-node {
  animation: background-pulse 1s infinite ease-in-out;
}
.failed.animate .sprotty-node {
  animation: background-pulse-failed 1s infinite ease-in-out;
}
.sprotty-node.mouseover {
  stroke-width: 3px;
  stroke: var(--glsp-editor-mouseover);
}
.sprotty-node.selected {
  stroke-width: 3px;
  stroke: var(--glsp-editor-selected);
}
.sprotty-node.sprotty-task-node {
  stroke-width: 1px;
}
g[class^='end'] .sprotty-node {
  stroke-width: 3px;
}
.sprotty-node-decorator {
  stroke: var(--glsp-editor-foreground);
  fill: var(--glsp-editor-foreground);
  text-anchor: middle;
}
.subproc .sprotty-node {
  stroke-width: 2px;
}

/* Edges */
.sprotty-edge {
  stroke: var(--glsp-editor-foreground);
  fill: none;
  cursor: pointer;
}
.sprotty-edge.executed {
  stroke: hsl(60deg 100% 30%);
  filter: drop-shadow(0px 0px 5px hsl(60deg 100% 30%));
}
.sprotty-edge.arrow {
  fill: var(--glsp-editor-foreground);
}
.sprotty-edge.executed .arrow {
  stroke: hsl(60deg 100% 30%);
}
.sprotty-edge > .sprotty-routing-handle {
  r: 5px;
  fill: var(--glsp-foreground);
  stroke: none;
  z-index: 1000;
}
.sprotty-edge > .sprotty-routing-handle[data-kind='line'] {
  opacity: 0.35;
}
.sprotty-edge > .sprotty-routing-handle.selected {
  fill: var(--glsp-editor-selected);
}
.sprotty-edge > .sprotty-routing-handle.mouseover {
  stroke: var(--glsp-editor-selected);
  stroke-width: 1;
}
.sprotty-edge.mouseover:not(.selected) {
  stroke-width: 3px;
}

/* Icon / Label*/
.sprotty-label {
  font-size: 12px;
  cursor: pointer;
}
.sprotty-icon {
  border-radius: 3px;
  cursor: pointer;
}
.sprotty-icon i {
  font-size: 16px;
}
.sprotty-icon img {
  height: 16px;
  width: 20px;
  object-fit: contain;
}
.sprotty-icon.icon-small i {
  font-size: 12px;
}
.sprotty-icon.icon-small img {
  height: 14px;
  width: 16px;
  object-fit: contain;
}

/* Tooltip */
.sprotty-popup {
  background: var(--glsp-editor-background);
  color: var(--glsp-editor-foreground);
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 13px;
}
.sprotty-popup-title {
  font-weight: 700;
}
.sprotty-popup-title ul {
  padding: 0;
}
.sprotty-popup-title li {
  list-style: none;
  font-weight: normal;
  line-height: 16px;
  padding: 3px;
  display: inline-flex;
}
.sprotty-popup-title li .codicon {
  float: left;
  margin-right: 3px;
}
.sprotty-popup-title li span {
  position: relative;
  top: 1px;
}

/* Comments */
.comment .sprotty-node,
.association.sprotty-edge {
  stroke-dasharray: 5, 5;
}

/* Tools */
.sprotty-node.marquee {
  fill: var(--glsp-editor-foreground);
  opacity: 0.2;
}
.node-creation-mode .sprotty-node {
  cursor: copy;
}
.marquee-mode [class^='sprotty-'],
.edge-creation-select-target-mode [class^='sprotty-'],
.edge-creation-select-target-mode .node-child-label {
  cursor: crosshair;
}
.edge-modification-not-allowed-mode [class^='sprotty-'],
.edge-modification-not-allowed-mode .node-child-label {
  cursor: no-drop;
}

/* General */
.sprotty-missing {
  stroke-width: 1;
  stroke: #f00;
  fill: #f00;
  font-size: 14pt;
  text-anchor: middle;
}

@keyframes background-pulse {
  0% {
    fill: hsl(60 100% 50% / 50%);
  }
  50% {
    fill: hsl(60 100% 30% / 50%);
  }
  100% {
    fill: hsl(60 100% 50% / 50%);
  }
}

@keyframes background-pulse-failed {
  0% {
    fill: hsl(0 100% 50% / 50%);
  }
  50% {
    fill: hsl(0 100% 30% / 50%);
  }
  100% {
    fill: hsl(0 100% 50% / 50%);
  }
}
