.jump-out-container {
  inset: calc(50px + 1rem) 0 0 1rem;
  width: 2rem;
  height: 2rem;
}
.jump-out-container .jump-out-btn {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background: var(--glsp-tool-bar-bg);
  box-shadow: var(--glsp-box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--glsp-tool-button);
  cursor: pointer;
}
.jump-out-container .jump-out-btn:hover {
  background: var(--glsp-tool-bar-button-active-bg);
}
