@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");
/* Css for main container */

:root {
  --glsp-tool-palette-background: #eee;
  --glsp-tool-palette-forground: black;
  --glsp-tool-palette-selection: #bddaef;
  --glsp-tool-palette-hover: #dfdfdf;
  --glsp-tool-palette-border: #cecece;
  --glsp-tool-palette-group-background: #c4c4c4;
}

.ivy-tool-palette {
  position: absolute;
  text-align: center;
  width: 100%;
  display: block;
  z-index: 1000;
  border: none;
  color: var(--glsp-tool-palette-forground);
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}

/* Css for header compartment */

.palette-header {
  display: flex;
  justify-content: space-between;
  padding: 0.4em;
  text-align: left;
  font-size: 1.5em;
  font-weight: bold;
  background: var(--glsp-tool-palette-background);
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.palette-header i {
  width: 1em;
  text-align: center;
}

.header-tools i,
.element-pickers span {
  border: none;
  padding: 0.4em;
  margin-right: 0.2em;
}
.element-pickers span {
  display: inline-block;
  line-height: 0;
}

.header-tools i:hover,
.element-pickers span:hover {
  background: var(--glsp-tool-palette-hover);
}

.header-tools .clicked,
.element-pickers .clicked {
  background: var(--glsp-tool-palette-selection);
  border: none;
}

/*Css for palette body compartment */

.palette-body {
  float: right;
  width: 180px;
  max-height: 500px;
  background: rgba(100, 100, 100, 0.2);
  border: 1px solid var(--glsp-tool-palette-border);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.palette-body.collapsed {
  max-height: 0;
  border: none;
}

.tool-group {
  text-align: left;
  background: var(--glsp-tool-palette-group-background);
}

.tool-group.collapsed .tool-button {
  display: none;
}

.fa-rotate-45 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.group-header {
  font-weight: bold;
  background: inherit;
}

.group-header:hover {
  background: var(--glsp-tool-palette-hover);
}

.group-header i,
.tool-button i {
  padding: 0.4em;
}

.tool-button {
  background: var(--glsp-tool-palette-background);
  padding: 0.4em;
}

.tool-button:hover {
  background: var(--glsp-tool-palette-hover);
}

.tool-button.clicked {
  background: var(--glsp-tool-palette-selection);
}

.collapsible-palette {
  overflow: auto;
  transition: max-height 0.2s ease-out;
}

.minimize-palette-button {
  position: absolute;
  right: 12px;
  top: 25px;
  z-index: 1000;
}

.search-input {
  background: var(--glsp-tool-palette-background);
  color: var(--glsp-tool-palette-forground);
  border: none;
  padding-left: 3px;
  width: 100%;
  margin-left: 0;
  box-sizing: border-box;
}
