.ivy-viewport-bar {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
  color: var(--glsp-tool-text);
  font-size: 13px;
  user-select: none;
}
.ivy-viewport-bar .viewport-bar {
  background: var(--glsp-tool-bg);
  border-radius: 4px;
  box-shadow: var(--glsp-box-shadow);
  padding: 6px;
  font-size: 1.5em;
}
.ivy-viewport-bar .viewport-bar-tools {
  display: flex;
  align-items: center;
}
.ivy-viewport-bar .viewport-bar-tools span {
  height: 2.25rem;
  width: 2.25rem;
  cursor: pointer;
}
.ivy-viewport-bar .viewport-bar-tools span i {
  margin-right: 0.2em;
  width: 2.25rem;
  line-height: 2.25rem;
  color: var(--glsp-tool-button);
  text-align: center;
  font-size: 18px;
}
.ivy-viewport-bar .viewport-bar-tools span i:hover {
  background: var(--glsp-tool-button-active-bg);
  border-radius: 2px;
}
.ivy-viewport-bar .viewport-bar-tools label {
  font-size: 0.75em;
  padding: 0 0.5rem;
  border-left: 1px solid var(--glsp-tool-border);
  margin-left: 0.2rem;
  margin-bottom: 0.125rem;
}
